/* MAIN PAGE (mostly) SECTION */

#history-imgs {
  width: 40%;
  display: flex;
  flex-direction: row;
}

#history-imgs > img {
  width: 230px;
  margin: 2em;
  height: 15em;
}

hr {
  height: 3em;
}

.potters-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}

.potters-img {
  width: 36%;
  height: 19em;
}

.potters-bio {
  width: 36%;
}

.potters-works {
  margin: 2em;
}

.potters-works > img {
  width: 27%;
  height: 12em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*   END OF MAIN PAGE (mostly) SECTION */
