/* MAIN PAGE (mostly) SECTION */
body {
  background-color: rgba(80, 80, 172, 0.664);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(182, 180, 150, 0.842);
}

#history-imgs {
  width: 40%;
  display: flex;
  flex-direction: row;
}

#history-imgs > img {
  width: 230px;
  margin: 2em;
  height: 15em;
}

hr {
  height: 3em;
}

.potters-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.potters-img {
  width: 36%;
  height: 19em;
}

.potters-bio {
  width: 36%;
}

.potters-works {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.potters-works > img {
  width: 27%;
  height: 12em;
}

.potters-img {
  border: 1px solid green;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(165, 160, 160, 0.534);
}

/*   END OF MAIN PAGE (mostly) SECTION */

.card-container {
  border: 1px solid green;
  width: 100%;
  height: 12em;
}

.container-adjust {
  margin: 3em;
}

#fixed-width {
  width: 90%;
}

.card-container {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

button {
  margin-top: 8.8em;
  height: 1.5em;
}

small {
  color: goldenrod;
  font-weight: 10em;
}
form {
  width: 90%;
  border: 3px solid gold;
  background-color: rgba(218, 208, 208, 0.918);
  margin-bottom: 1em;
}
